@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins;
}
html,
body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    background: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vmin;
}

.game {
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vmin;
}

.new_game {
    padding: 2vmin 4vmin;
    border-radius: 20px;
    box-shadow: 0px 1px 15px 9px rgba(0, 0, 0, 0.1);
    font-size: large;
    border: none;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border: none;
    font-size: xx-large;
    background: #fff4e4;
    color: black;
    box-shadow: 0px 1px 15px 9px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.winner {
    font-size: xx-large;
}
